@import 'utility';



.mermaid-text{
    line-height:1.2em;
}


.background-image{
  width:100%;
}

.sub-text{
  font-size: 16px;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
}

footer {
  padding-top: 85px;
  text-align: center;
}

.social-icon-footer{
  display:inline;
  line-height:25px;
  margin-right:10px;
  text-align: center;
  width:30px;
  height:30px;
  background-color: $corona-brown;
}

i.fa.icon-footer:hover{
  color:white;
}
i.fa.icon-footer {
    color: $sand-yellow;
}

img.festivals{
  width:100%;
}
