@import 'utility';



.mermaid-text{
    line-height:1.2em;
}


.background-image{
  width:100%;
}

.sub-text{
  font-size: 16px;
}


img.festivals{
  width:100%;
}

.logo-container {
    padding-top: 20px;
}

img.festivals.electric.orlando {
    width: 38%;
    height: 38%;
    margin-left: 115px;
}