@import 'utility';
.nav-logo{
  height:100px;
  width:200px;
  float:left;
  margin-top:-23%;
}
.navbar-nav.corona{
 padding-left: 5%;
}
.nav-bar-container{
  background-color:$corona-blue;
  width:100%;
  z-index:5;
  padding-bottom: 2%;
    @media (min-width:768px)and (max-width:838px){
      padding-bottom: 4%;
    }

  .nav-bar-content{
    padding-top:50px;
    li{
      font-size:18px;
      letter-spacing: 2.3px;
      list-style:none;
      float:left;
      color:white;
      padding-right:25px;
      font-weight: 600;
      &.social-nav {
        padding-right: 0;
      }
      }
   }
}


i.fa.fa-bars.bar-settings{
  color: #FFFFFF;
}

.navbar-toggle {
//   float: right;
//   margin-right: 3%;
}




.collapse-icon.dropdown{
  float: right;
  margin-top: -1%;
  margin-right: 1%;
}

.social-icon-nav{
  // line-height:25px;
  margin-right:10px;
  // float:right;
  width:30px;
  height:30px;
    .fa{
    vertical-align: text-bottom;
    margin-left: 9%;
    font-size:18px;
    color:$corona-blue;
    }
}
.social-icon{
  text-align:center;
  background-color:white;
  border-radius:100px;
  &:hover{
    @include hover($sand-yellow);
  }

}

@media (max-width:768px){
  .navbar-right{display: none;}
  ul.nav.navbar-nav.corona.navbar-center{
    padding-left: 0;
    margin-top: -1%;
  }
  .nav-logo {
    height: 100px;
    width: 150px;
    object-fit: contain;
    margin-top: -60px;
    margin-left: 5%;
  }
  .nav-bar-container{
    height: 116px;

  }
  .nav-bar-container .nav-bar-content{
    padding-left: 0;
    padding-right: 0;
    li{
      float: none;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: -webkit-center;
      background-color: $corona-blue;
      border-bottom: 1px solid rgb(26,180,231);
      border-top: 1px solid rgb(26,180,231);
    }
  }

}

@media (min-width: 769px){
  .navbar-toggle {
    display: none;
  }
}
