@import 'utility';
.event-description{
  font-size: 15px;
  font-family: $secondary-font;
  @media screen and(max-width: 1200px){
    font-size: 12px;
  }
}


.band-date {
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  @media (max-width: 768px){
    padding-right: 1%;
  }
}
.main-video{
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
//   -ms-transform: translateX(-55%) translateY(-50%);
//   -moz-transform: translateX(-55%) translateY(-50%);
//   -webkit-transform: translateX(-55%) translateY(-50%);
//   transform: translateX(-55%) translateY(-50%);
// // background: url(/assets/images/CEB_bolt_texture.png) no-repeat;
// background-size: cover;
}
.vimeo-video{
  &:hover{
    cursor: pointer;
  }

}
