@import 'utility';
.event-description{
  font-size: 15px;
  font-family: $secondary-font;
  @media screen and(max-width: 1200px){
    font-size: 12px;
  }
}



.main-video{
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   min-width: 100%;
//   min-height: 100%;
//   width: auto;
//   height: auto;
//   z-index: -100;
//   -ms-transform: translateX(-55%) translateY(-50%);
//   -moz-transform: translateX(-55%) translateY(-50%);
//   -webkit-transform: translateX(-55%) translateY(-50%);
//   transform: translateX(-55%) translateY(-50%);
// // background: url(/assets/images/CEB_bolt_texture.png) no-repeat;
// background-size: cover;
}
.vimeo-video{
  &:hover{
    cursor: pointer;
  }

}


.photo-shows{
  width: 100%;
  height:400px;
  object-fit: cover;
}


.modal-video{
  position:absolute;
  right:-25%;
  width:150%;
  @media screen and  (max-width: 900px){
    width:100%;
    right:0%;
  }
  @media screen and (max-width: 650px){
    width:80%;
    right:10%;
  }
}

.modal-content{
  background: transparent;
  border: 0px;
  box-shadow: 0 0 0;
}
