@font-face {
  font-family: 'caslonantique';
  src: url('/assets/fonts/caslonantique.ttf');
}

@font-face {
  font-family: 'TradeGothicLT';
  src: url('/assets/fonts/TradeGothicLT.ttf');

  font-family: 'TradeGothicLTBold';
  src: url('/assets/fonts/TradeGothicLTBold.ttf');
}



$corona-blue:#10AFE3;
$hover-corona-blue:#06c0fe;
$dark-corona-blue:#00A6DD;
$darker-corona-blue:#0198cb;
$shadow-blue:#1B5E9B;
$thunder-yellow:#F9EA2A;
$corona-brown:#6f4d2f;
$sand-yellow:#FBEF82;


$main-font:'caslonantique', sans-serif;
$secondary-font: 'TradeGothicLT', 'Helvetica', sans-serif;
$secondary-font-bold: 'TradeGothicLTBold', 'Helvetica', sans-serif;



@mixin hover($background-color){
  background-color:$background-color;
  transition:.4s;
  cursor:pointer;
}
